{% extends 'base.html' %}
{% block title %}Chat Room{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<!-- JQuery -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<div class="container-fluid">
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-3 mr-auto">
            <div class="">
                <div class="">
                    <p class="my-font">You can now connect with</p>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    <!-- <input type="text" name="" id="" placeholder="username">
                                    <button type="submit" name="" id="" class="btn btn-success">Search</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div> -->
                    {% if friends %}
                    {% for uf in friends %}
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'load_room' uf.email %}" class="btn btn-default">{{uf.username}}</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    You have no one to mingle with
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row" id="msgrow" style="margin-bottom:80px;">
                <div class="col-sm-12 mx-auto">
                    <!-- <div class="card">
                        <div class="card-body" style="height: 700px;"> -->
                            <div style="height:500px;overflow:hidden;overflow-y:scroll;margin-top:10px;margin-bottom:100px;">
                                <div class="col-sm-10 mx-auto">
                                    <!-- <div class="overflow-auto"> -->
                            {% if room_messages %}
                            {% for m in room_messages %}
                            {% if m.message_sender.username == request.user.username %}

                            {% if all_images %}
                            {% for ai in all_images %}
                            {% with "pp_"|add:m.message_sender.username as custom_image_id %}
                            {% if ai.image_id == custom_image_id %}
                            <b><p style="border:none;outline:none;text-align:right;color:#9b2727;font-family:'Courier New', Courier, monospace;font-size:large"  ><img src="{{ai.image.url}}" width="40" height="50" alt="" style="border-radius:50%"> {{m.message}} ({{m.time}})</p> </b>
                             {% endif %}<!--66-->
                            {% endwith %}<!--65-->
                            {% endfor %}<!--64-->
                            {% endif %}<!--63-->
                            {% else %}<!--61-->
                            
                            {% if all_images %}
                            {% for ai in all_images %}
                            {% with "pp_"|add:m.message_sender.username as custom_image_id_2 %}
                            {% if ai.image_id == custom_image_id_2 %}
                            <b><p style="border:none;outline:none;text-align:left;color:black;font-family:'Courier New', Courier, monospace;font-size:large"   ><img src="{{ai.image.url}}" width="40" height="50" alt="" style="border-radius:50%"> <b>{{m.message}}</b>  ({{m.time}})</p>
                            {% endif %}<!--77-->
                            {% endwith %}<!--76-->
                            {% endfor %}<!--75-->
                            {% endif %}<!--74-->
                            <!----------->
                            {% endif %}<!--61-->
                            {% endfor %}<!--60-->
                            {% endif %}<!--59-->
                            <!----------->
                            {% if room_messages %}
                            {% for m2 in room_messages %}
                            {% if all_images %}
                            {% for ai in all_images %}
                            {% with "pp_"|add:m2.message_sender.username as custom_image_id_3 %}
                            {% if ai.image_id == custom_image_id_3 %}
                            <b><p id="text-box" style="border:none;outline:none;text-align:right;color:#9b2727;font-family:'Courier New', Courier, monospace;font-size:large" id="chat-text-box" ></p></b>
                            {% endif %}<!--85-->
                            {% endwith %}<!--86-->
                            {% endfor %}<!--87-->
                            {% endif %}<!--88-->
                            <!---->
                            {% endfor %}<!--90-->
                            {% endif %}<!--89-->
                           <br>
                        </div>
                            </div>
        </div>
            </div>
            <div class="row" style="position:fixed;bottom:0px;">
                <div class="col" >
                    <div class="form-group" id="chat-form">
                        <div  class="input-group">
                            {% if room_name %}
                            <form action="{% url 'load_with_room_name' room_name %}" id="post-form" method="POST">
                                {% csrf_token %}
                            <input type="hidden" name="username" id="username" value="{{request.user.username}}">
                            <input type="text" autocomplete="off" name="msg_box" id="msg_box" placeholder="What's on your mind?" style="width: 1030px;">           
                            <button type="submit" id="submit" class="btn" style="background-color:#9b2727;color:white" >SEND</button>
                            <!-- <button  id="submit" class="btn" style="background-color:#9b2727;color:white" >TEST</button> -->
                            {% endif %}
                            </form>
                        </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</div>
{{room_name|json_script:"room-name"}}
{{username|json_script:"user_username"}}
{% if room_user_1_username %}
{{room_user_1_username|json_script:"room_user_1"}}
{% endif %}
{% if room_user_2_username %}
{{room_user_2_username|json_script:"room_user_2"}}
{% endif %}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const username = JSON.parse(document.getElementById('user_username').textContent);
    const room_user_1 = JSON.parse(document.getElementById('room_user_1').textContent);
    const room_user_2 = JSON.parse(document.getElementById('room_user_2').textContent);
    var input_box = document.getElementById("msg_box");
    if(input_box.innerHTML==""){
        document.getElementById("submit").style.visibility=false;
    }
    else{
        document.getElementById("submit").style.visibility=true;
    }
    
    //setting up the websocket
    function connect_ws(){
//for sending the message to websocket
document.getElementById("submit").onclick=function(e){
    const messageInputDom = document.querySelector("#msg_box");
    const message = messageInputDom.value;
    console.log("message: "+message);
    console.log("username:"+username);
    current_user = "{{request.user.username}}";
    console.log("current_user: "+current_user);
    if(username==room_user_1 || username==room_user_2){
        if(messageInputDom.value!=""){
            chatSocket.send(JSON.stringify({
                'message':message,
                'username':username,
                'room_name':roomName,
                'command':'save_message'
            }));
            location.reload();
        }
    messageInputDom.value = '';
}
else{alert("Unauthorised access to a chat room");console.log("Message could not be sent!");}
    messageInputDom.value='';
}
    const chatSocket = new WebSocket(
                'ws://'+
                window.location.host+   
                '/ws/chat/'+
                roomName+
                '/'
            );

    //getting messages from the websocket
        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data);
            location.reload();//ON GETTING NEW MESSAGES
            console.log("data: message->"+data.message+"\nusername->"+data.username);
            //$("#msg-box").val('\n'+data.username+": "+data.message+' (just now)');
            document.getElementById('text-box').value = data.message;
        }
        console.log("connect_ws() has been invoked successfully!");
    }
    connect_ws();
</script>
{% endblock %}