{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row" style="margin-top: 100px;">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4>Forgot Password</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <form action="{% url 'forgot_password' %}" method="post">
                                {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="email" id="email" placeholder="Enter email associated with your account">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <center><button type="submit" class="btn" style="width: 100%;background-color:#9b2727;color:white;  ">Get Email</button></center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <hr>
                                </div>
                                <div class="col-md-4" style="text-align: center;">
                                   OR 
                                </div>
                                <div class="col-md-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <center><a href="{% url 'signup' %}">Sign Up</a></center>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4">
                                    <center><a  href="{% url 'login' %}">Log In</a></center>
                                </div>
                            </div>
                        </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}