{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body{
        background-color: aliceblue;
    }
    .banner-btn {
        /*border: 1px solid #fff;*/
        border: 1px solid #9b2727;
        border-radius: 50px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 50px;
        display: inline-block;
        color:#9b2727;
    
    }
    #button:hover{
        background-color: #9b2727;
        color:white;
    }
    #my-card{
        padding-top:250px;
        padding-left:200px;
    }
    #quote{
        color:#9b2727;
        font-family: gabriola;
        font-size: 30px;
        text-align: center;
    }
</style>

<div  class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <center><img src="{% static "images/mingle_bg_4.jpg" %}" width="300px;" style="padding-top:100px;margin-left:25em"></center>
        </div>
        <div class="col-md-6" style="padding-top:200px;">
            <p style="margin-left:1.5em;color:#9b2727">Create your own world!</p>
           <a href="{% url 'signup' %}" id="button" class="btn banner-btn">Start mingling</a>
        </div>
    </div>
</div>
{% endblock %}