{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="contaier-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4>Reset Password</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <form action="{% url 'reset_password' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm password">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn " style="background-color:#9b2727;color:white">Reset Password</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <a href="{% url 'signup' %}">Sign Up</a>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}