{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row" style="margin-top:50px;">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          {% if profile_follower %}
          {% for pf in profile_follower %}
          {% if iterable_user %}
          {% for i in iterable_user %}
          {% if i == pf %}
          <div class="row">
            <div class="col-md-6 mx-auto">
              <a href="{% url 'view_profile' i.email %}" class="btn  btn-outline-dark">{{i.username}}</a>
              {% endif %}<!--line13-->
          {% endfor %}<!--line12-->
          {% endif %}<!--line11-->
            </div>
          </div>
          {% endfor %}<!--line10-->
          {% else %}<!--line9-->
          <center>This profile has no follower yet!</center>
          {% endif %}  
          <div class="row">
            <div class="col">
              <hr>
            </div>
          </div>      
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}